
lab5/.vs/ProjectEvaluation/webapplication1.metadata.v6.1
lab5/.vs/ProjectEvaluation/webapplication1.projects.v6.1
lab5/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
lab5/.vs/WebApplication1/FileContentIndex/02ae4164-96f2-41ce-91e2-b9f45ecf7b57.vsidx
lab5/.vs/WebApplication1/FileContentIndex/16112dae-11b6-4bbd-8bf7-b4656c8d9093.vsidx
lab5/.vs/WebApplication1/FileContentIndex/2244051d-b804-4b4f-802f-131f3f7230e3.vsidx
lab5/.vs/WebApplication1/FileContentIndex/d65ad80c-f2c4-409e-87ef-99130dcb0a39.vsidx
lab5/.vs/WebApplication1/FileContentIndex/e19b69ec-b048-4dc4-9183-39c549ba5131.vsidx
lab5/.vs/WebApplication1/FileContentIndex/f78abac1-a74c-46d6-8b59-15bea53f62b3.vsidx
lab5/.vs/WebApplication1/v17/.futdcache.v2
lab5/.vs/WebApplication1/v17/.suo
lab5/WebApplication1/bin/Debug/net6.0/WebApplication1.dll
lab5/WebApplication1/bin/Debug/net6.0/WebApplication1.pdb
lab5/WebApplication1/obj/Debug/net6.0/WebApplication1.dll
lab5/WebApplication1/obj/Debug/net6.0/WebApplication1.pdb
