
lab5/.vs/ProjectEvaluation/webapplication1.metadata.v6.1
lab5/.vs/ProjectEvaluation/webapplication1.projects.v6.1
lab5/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
lab5/.vs/WebApplication1/FileContentIndex/02ae4164-96f2-41ce-91e2-b9f45ecf7b57.vsidx
lab5/.vs/WebApplication1/FileContentIndex/16112dae-11b6-4bbd-8bf7-b4656c8d9093.vsidx
lab5/.vs/WebApplication1/FileContentIndex/2244051d-b804-4b4f-802f-131f3f7230e3.vsidx
lab5/.vs/WebApplication1/FileContentIndex/d65ad80c-f2c4-409e-87ef-99130dcb0a39.vsidx
lab5/.vs/WebApplication1/FileContentIndex/e19b69ec-b048-4dc4-9183-39c549ba5131.vsidx
lab5/.vs/WebApplication1/FileContentIndex/f78abac1-a74c-46d6-8b59-15bea53f62b3.vsidx
lab5/.vs/WebApplication1/v17/.futdcache.v2
lab5/.vs/WebApplication1/v17/.suo
lab5/WebApplication1/bin/Debug/net6.0/WebApplication1.dll
lab5/WebApplication1/bin/Debug/net6.0/WebApplication1.pdb
lab5/WebApplication1/obj/Debug/net6.0/WebApplication1.dll
lab5/WebApplication1/obj/Debug/net6.0/WebApplication1.pdb
lab6/WebApplication1/bin/Debug/net6.0/System.Windows.Extensions.dll
lab6/WebApplication1/bin/Debug/net6.0/System.Security.Permissions.dll
lab6/WebApplication1/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
lab6/WebApplication1/bin/Debug/net6.0/System.Runtime.Caching.dll
lab6/WebApplication1/bin/Debug/net6.0/System.Memory.Data.dll
lab6/WebApplication1/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
lab6/WebApplication1/bin/Debug/net6.0/System.Drawing.Common.dll
lab6/WebApplication1/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
lab6/WebApplication1/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
lab6/WebApplication1/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
lab6/WebApplication1/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
lab6/WebApplication1/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
lab6/WebApplication1/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
lab6/WebApplication1/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
lab6/WebApplication1/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
lab6/WebApplication1/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
lab6/WebApplication1/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
lab6/WebApplication1/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
lab6/WebApplication1/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
lab6/WebApplication1/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.SqlServer.Server.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.IdentityModel.Abstractions.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Identity.Client.Extensions.Msal.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Identity.Client.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Extensions.Options.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Extensions.Caching.Abstractions.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
lab6/WebApplication1/bin/Debug/net6.0/Azure.Identity.dll
lab6/WebApplication1/bin/Debug/net6.0/Azure.Core.dll
lab6/.vs/WebApplication1/v17/.suo
lab6/.vs/WebApplication1/v17/.futdcache.v2
lab6/.vs/WebApplication1/FileContentIndex/dad2a8ea-1a6c-45e4-ac1d-05ebc17cf81a.vsidx
lab6/.vs/WebApplication1/FileContentIndex/d8b437b7-2638-4ac5-826b-1da7b9e30043.vsidx
lab6/.vs/WebApplication1/FileContentIndex/95e2174d-9da3-4081-b635-d206d23dbc17.vsidx
lab6/.vs/WebApplication1/FileContentIndex/7d1261ef-d2cc-4774-9e92-24a4f694ef5c.vsidx
lab6/.vs/WebApplication1/FileContentIndex/56b4ea06-fe6f-419b-9b59-942215a788e3.vsidx
lab6/.vs/WebApplication1/FileContentIndex/331453cc-3ab3-40ee-bb8b-27ee6a8737fe.vsidx
lab6/.vs/WebApplication1/FileContentIndex/2acea798-afae-46c3-8f3f-9c7e2cf4b54d.vsidx
lab6/.vs/WebApplication1/FileContentIndex/03a716d6-82c0-43fa-8b8c-d00394a04bcc.vsidx
lab6/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
lab6/.vs/ProjectEvaluation/webapplication1.projects.v6.1
lab6/.vs/ProjectEvaluation/webapplication1.metadata.v6.1
lab6/.vs/WebApplication1/v17/.suo
lab6/.vs/WebApplication1/v17/.suo
lab6/.vs/WebApplication1/v17/.futdcache.v2
lab6/.vs/WebApplication1/FileContentIndex/ab6e29a6-614e-4fa0-b855-7df1b6379578.vsidx
lab6/.vs/WebApplication1/FileContentIndex/8e3e8e46-1789-4f9d-87fb-e5f5f48799cd.vsidx
lab6/.vs/WebApplication1/FileContentIndex/56dff81e-73d2-4e90-ada7-4cc3dd2653d4.vsidx
lab6/.vs/WebApplication1/FileContentIndex/42d25ba8-8e16-4043-91da-4eec95490304.vsidx
lab6/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
lab6/.vs/ProjectEvaluation/webapplication1.projects.v6.1
lab6/.vs/ProjectEvaluation/webapplication1.metadata.v6.1
lab5/.vs/WebApplication1/v17/.suo
lab5/.vs/WebApplication1/FileContentIndex/92a1e6b3-145f-43a1-bcfc-122bdf78055d.vsidx
lab5/.vs/WebApplication1/FileContentIndex/47fe9a46-743c-4ee0-88e8-8c71777ce092.vsidx
lab5/.vs/WebApplication1/FileContentIndex/25852290-9e87-4fc7-80d8-89b694e7c2d6.vsidx
lab5/.vs/WebApplication1/FileContentIndex/2244051d-b804-4b4f-802f-131f3f7230e3.vsidx
lab5/.vs/WebApplication1/FileContentIndex/16112dae-11b6-4bbd-8bf7-b4656c8d9093.vsidx
lab5/.vs/WebApplication1/FileContentIndex/02ae4164-96f2-41ce-91e2-b9f45ecf7b57.vsidx
lab5/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
lab5/.vs/WebApplication1/FileContentIndex/02ae4164-96f2-41ce-91e2-b9f45ecf7b57.vsidx
lab5/.vs/WebApplication1/FileContentIndex/16112dae-11b6-4bbd-8bf7-b4656c8d9093.vsidx
lab5/.vs/WebApplication1/FileContentIndex/2244051d-b804-4b4f-802f-131f3f7230e3.vsidx
lab5/.vs/WebApplication1/v17/.suo
lab6/.vs/ProjectEvaluation/webapplication1.metadata.v6.1
lab6/.vs/ProjectEvaluation/webapplication1.projects.v6.1
lab6/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
lab6/.vs/WebApplication1/v17/.futdcache.v2
lab6/.vs/WebApplication1/v17/.suo
lab5/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
lab5/.vs/WebApplication1/FileContentIndex/02ae4164-96f2-41ce-91e2-b9f45ecf7b57.vsidx
lab5/.vs/WebApplication1/FileContentIndex/16112dae-11b6-4bbd-8bf7-b4656c8d9093.vsidx
lab5/.vs/WebApplication1/FileContentIndex/2244051d-b804-4b4f-802f-131f3f7230e3.vsidx
lab5/.vs/WebApplication1/v17/.suo
lab6/.vs/ProjectEvaluation/webapplication1.metadata.v6.1
lab6/.vs/ProjectEvaluation/webapplication1.projects.v6.1
lab6/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
lab6/.vs/WebApplication1/v17/.futdcache.v2
lab6/.vs/WebApplication1/v17/.suo
lab5/.vs/ProjectEvaluation/webapplication1.metadata.v6.1
lab5/.vs/ProjectEvaluation/webapplication1.projects.v6.1
lab5/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
lab5/.vs/WebApplication1/FileContentIndex/02ae4164-96f2-41ce-91e2-b9f45ecf7b57.vsidx
lab5/.vs/WebApplication1/FileContentIndex/16112dae-11b6-4bbd-8bf7-b4656c8d9093.vsidx
lab5/.vs/WebApplication1/FileContentIndex/2244051d-b804-4b4f-802f-131f3f7230e3.vsidx
lab5/.vs/WebApplication1/v17/.suo
lab6/.vs/ProjectEvaluation/webapplication1.metadata.v6.1
lab6/.vs/ProjectEvaluation/webapplication1.projects.v6.1
lab6/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
lab6/.vs/WebApplication1/v17/.futdcache.v2
lab6/.vs/WebApplication1/v17/.suo
lab6/WebApplication1/WebApplication1.csproj.user
lab6/WebApplication1/WebApplication1.csproj
lab6/WebApplication1/bin/Debug/net6.0/WebApplication1.pdb
lab6/WebApplication1/bin/Debug/net6.0/WebApplication1.dll
lab6/WebApplication1/bin/Debug/net6.0/Newtonsoft.Json.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.dll
