
lab5/.vs/ProjectEvaluation/webapplication1.metadata.v6.1
lab5/.vs/ProjectEvaluation/webapplication1.projects.v6.1
lab5/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
lab5/.vs/WebApplication1/FileContentIndex/02ae4164-96f2-41ce-91e2-b9f45ecf7b57.vsidx
lab5/.vs/WebApplication1/FileContentIndex/16112dae-11b6-4bbd-8bf7-b4656c8d9093.vsidx
lab5/.vs/WebApplication1/FileContentIndex/2244051d-b804-4b4f-802f-131f3f7230e3.vsidx
lab5/.vs/WebApplication1/FileContentIndex/d65ad80c-f2c4-409e-87ef-99130dcb0a39.vsidx
lab5/.vs/WebApplication1/FileContentIndex/e19b69ec-b048-4dc4-9183-39c549ba5131.vsidx
lab5/.vs/WebApplication1/FileContentIndex/f78abac1-a74c-46d6-8b59-15bea53f62b3.vsidx
lab5/.vs/WebApplication1/v17/.futdcache.v2
lab5/.vs/WebApplication1/v17/.suo
lab5/WebApplication1/bin/Debug/net6.0/WebApplication1.dll
lab5/WebApplication1/bin/Debug/net6.0/WebApplication1.pdb
lab5/WebApplication1/obj/Debug/net6.0/WebApplication1.dll
lab5/WebApplication1/obj/Debug/net6.0/WebApplication1.pdb
lab6/WebApplication1/bin/Debug/net6.0/System.Windows.Extensions.dll
lab6/WebApplication1/bin/Debug/net6.0/System.Security.Permissions.dll
lab6/WebApplication1/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
lab6/WebApplication1/bin/Debug/net6.0/System.Runtime.Caching.dll
lab6/WebApplication1/bin/Debug/net6.0/System.Memory.Data.dll
lab6/WebApplication1/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
lab6/WebApplication1/bin/Debug/net6.0/System.Drawing.Common.dll
lab6/WebApplication1/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
lab6/WebApplication1/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
lab6/WebApplication1/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
lab6/WebApplication1/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
lab6/WebApplication1/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
lab6/WebApplication1/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
lab6/WebApplication1/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
lab6/WebApplication1/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
lab6/WebApplication1/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
lab6/WebApplication1/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
lab6/WebApplication1/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
lab6/WebApplication1/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
lab6/WebApplication1/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.SqlServer.Server.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.IdentityModel.Abstractions.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Identity.Client.Extensions.Msal.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Identity.Client.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Extensions.Options.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Extensions.Caching.Abstractions.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
lab6/WebApplication1/bin/Debug/net6.0/Azure.Identity.dll
lab6/WebApplication1/bin/Debug/net6.0/Azure.Core.dll
lab6/.vs/WebApplication1/v17/.suo
lab6/.vs/WebApplication1/v17/.futdcache.v2
lab6/.vs/WebApplication1/FileContentIndex/dad2a8ea-1a6c-45e4-ac1d-05ebc17cf81a.vsidx
lab6/.vs/WebApplication1/FileContentIndex/d8b437b7-2638-4ac5-826b-1da7b9e30043.vsidx
lab6/.vs/WebApplication1/FileContentIndex/95e2174d-9da3-4081-b635-d206d23dbc17.vsidx
lab6/.vs/WebApplication1/FileContentIndex/7d1261ef-d2cc-4774-9e92-24a4f694ef5c.vsidx
lab6/.vs/WebApplication1/FileContentIndex/56b4ea06-fe6f-419b-9b59-942215a788e3.vsidx
lab6/.vs/WebApplication1/FileContentIndex/331453cc-3ab3-40ee-bb8b-27ee6a8737fe.vsidx
lab6/.vs/WebApplication1/FileContentIndex/2acea798-afae-46c3-8f3f-9c7e2cf4b54d.vsidx
lab6/.vs/WebApplication1/FileContentIndex/03a716d6-82c0-43fa-8b8c-d00394a04bcc.vsidx
lab6/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
lab6/.vs/ProjectEvaluation/webapplication1.projects.v6.1
lab6/.vs/ProjectEvaluation/webapplication1.metadata.v6.1
lab6/.vs/WebApplication1/v17/.suo
lab6/.vs/WebApplication1/v17/.suo
lab6/.vs/WebApplication1/v17/.futdcache.v2
lab6/.vs/WebApplication1/FileContentIndex/ab6e29a6-614e-4fa0-b855-7df1b6379578.vsidx
lab6/.vs/WebApplication1/FileContentIndex/8e3e8e46-1789-4f9d-87fb-e5f5f48799cd.vsidx
lab6/.vs/WebApplication1/FileContentIndex/56dff81e-73d2-4e90-ada7-4cc3dd2653d4.vsidx
lab6/.vs/WebApplication1/FileContentIndex/42d25ba8-8e16-4043-91da-4eec95490304.vsidx
lab6/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
lab6/.vs/ProjectEvaluation/webapplication1.projects.v6.1
lab6/.vs/ProjectEvaluation/webapplication1.metadata.v6.1
lab5/.vs/WebApplication1/v17/.suo
lab5/.vs/WebApplication1/FileContentIndex/92a1e6b3-145f-43a1-bcfc-122bdf78055d.vsidx
lab5/.vs/WebApplication1/FileContentIndex/47fe9a46-743c-4ee0-88e8-8c71777ce092.vsidx
lab5/.vs/WebApplication1/FileContentIndex/25852290-9e87-4fc7-80d8-89b694e7c2d6.vsidx
lab5/.vs/WebApplication1/FileContentIndex/2244051d-b804-4b4f-802f-131f3f7230e3.vsidx
lab5/.vs/WebApplication1/FileContentIndex/16112dae-11b6-4bbd-8bf7-b4656c8d9093.vsidx
lab5/.vs/WebApplication1/FileContentIndex/02ae4164-96f2-41ce-91e2-b9f45ecf7b57.vsidx
lab5/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
lab5/.vs/WebApplication1/FileContentIndex/02ae4164-96f2-41ce-91e2-b9f45ecf7b57.vsidx
lab5/.vs/WebApplication1/FileContentIndex/16112dae-11b6-4bbd-8bf7-b4656c8d9093.vsidx
lab5/.vs/WebApplication1/FileContentIndex/2244051d-b804-4b4f-802f-131f3f7230e3.vsidx
lab5/.vs/WebApplication1/v17/.suo
lab6/.vs/ProjectEvaluation/webapplication1.metadata.v6.1
lab6/.vs/ProjectEvaluation/webapplication1.projects.v6.1
lab6/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
lab6/.vs/WebApplication1/v17/.futdcache.v2
lab6/.vs/WebApplication1/v17/.suo
lab5/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
lab5/.vs/WebApplication1/FileContentIndex/02ae4164-96f2-41ce-91e2-b9f45ecf7b57.vsidx
lab5/.vs/WebApplication1/FileContentIndex/16112dae-11b6-4bbd-8bf7-b4656c8d9093.vsidx
lab5/.vs/WebApplication1/FileContentIndex/2244051d-b804-4b4f-802f-131f3f7230e3.vsidx
lab5/.vs/WebApplication1/v17/.suo
lab6/.vs/ProjectEvaluation/webapplication1.metadata.v6.1
lab6/.vs/ProjectEvaluation/webapplication1.projects.v6.1
lab6/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
lab6/.vs/WebApplication1/v17/.futdcache.v2
lab6/.vs/WebApplication1/v17/.suo
lab5/.vs/ProjectEvaluation/webapplication1.metadata.v6.1
lab5/.vs/ProjectEvaluation/webapplication1.projects.v6.1
lab5/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
lab5/.vs/WebApplication1/FileContentIndex/02ae4164-96f2-41ce-91e2-b9f45ecf7b57.vsidx
lab5/.vs/WebApplication1/FileContentIndex/16112dae-11b6-4bbd-8bf7-b4656c8d9093.vsidx
lab5/.vs/WebApplication1/FileContentIndex/2244051d-b804-4b4f-802f-131f3f7230e3.vsidx
lab5/.vs/WebApplication1/v17/.suo
lab6/.vs/ProjectEvaluation/webapplication1.metadata.v6.1
lab6/.vs/ProjectEvaluation/webapplication1.projects.v6.1
lab6/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
lab6/.vs/WebApplication1/v17/.futdcache.v2
lab6/.vs/WebApplication1/v17/.suo
lab6/WebApplication1/WebApplication1.csproj.user
lab6/WebApplication1/WebApplication1.csproj
lab6/WebApplication1/bin/Debug/net6.0/WebApplication1.pdb
lab6/WebApplication1/bin/Debug/net6.0/WebApplication1.dll
lab6/WebApplication1/bin/Debug/net6.0/Newtonsoft.Json.dll
lab6/WebApplication1/bin/Debug/net6.0/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.dll
lab7/.vs/ProjectEvaluation/superheroes.metadata.v7.bin
lab7/.vs/ProjectEvaluation/superheroes.projects.v7.bin
lab7/.vs/SuperHeroes/DesignTimeBuild/.dtbcache.v2
lab7/.vs/SuperHeroes/FileContentIndex/09a82846-50b8-489f-95b3-ebca48cbdbed.vsidx
lab7/.vs/SuperHeroes/FileContentIndex/4ea04a78-48a7-4010-9905-05477beb39cf.vsidx
lab7/.vs/SuperHeroes/FileContentIndex/59db6b72-6835-440b-b201-eb463e9fba2f.vsidx
lab7/.vs/SuperHeroes/FileContentIndex/8627d172-4630-4dc6-b1f5-65f8eb40b524.vsidx
lab7/.vs/SuperHeroes/FileContentIndex/921d368b-01f8-4b17-b794-9e8000b932b7.vsidx
lab7/.vs/SuperHeroes/FileContentIndex/c58a7928-cd50-46d7-8bb5-1967b263213c.vsidx
lab7/.vs/SuperHeroes/FileContentIndex/d49df736-9ee2-4f93-ad3b-eac9c4c09dae.vsidx
lab7/.vs/SuperHeroes/FileContentIndex/e8d8eca2-60cc-42ff-843d-f176f079b4b5.vsidx
lab7/.vs/SuperHeroes/v17/.futdcache.v2
lab7/.vs/SuperHeroes/v17/.suo
lab7/obj/Debug/net6.0/SuperHeroes.assets.cache
lab7/obj/Debug/net6.0/SuperHeroes.GeneratedMSBuildEditorConfig.editorconfig
lab7/obj/project.assets.json
lab7/obj/project.nuget.cache
lab7/obj/SuperHeroes.csproj.nuget.dgspec.json
lab8/.vs/ProjectEvaluation/superheroes.metadata.v7.bin
lab8/.vs/ProjectEvaluation/superheroes.projects.v7.bin
lab8/.vs/SuperHeroes/DesignTimeBuild/.dtbcache.v2
lab8/.vs/SuperHeroes/FileContentIndex/01909cf0-0e88-4a6a-b2f3-0e72db2a9c78.vsidx
lab8/.vs/SuperHeroes/FileContentIndex/0388d98d-077c-4942-acef-3604d27ddf53.vsidx
lab8/.vs/SuperHeroes/FileContentIndex/15353360-95f5-46d5-a8e1-c2cd79a7a5a0.vsidx
lab8/.vs/SuperHeroes/FileContentIndex/5306ae5d-2113-4382-b6eb-c55cd1469516.vsidx
lab8/.vs/SuperHeroes/FileContentIndex/56bd7f27-0588-4af9-aa7e-80fb99e9b776.vsidx
lab8/.vs/SuperHeroes/FileContentIndex/76048c8b-7cb3-4773-aba4-cb7958eb98c9.vsidx
lab8/.vs/SuperHeroes/FileContentIndex/e2e49fff-a1d1-4086-be9d-1fd27df0a770.vsidx
lab8/.vs/SuperHeroes/FileContentIndex/f99955b5-e377-4d60-8578-b79b16a20242.vsidx
lab8/.vs/SuperHeroes/v17/.futdcache.v2
lab8/.vs/SuperHeroes/v17/.suo
lab8/bin/Debug/net6.0/SuperHeroes.dll
lab8/bin/Debug/net6.0/SuperHeroes.pdb
